/* ===== Progress ===== */
.progress-container {
  position: relative;
  height: 6px;
  /* background: #e5e7eb; */
  border-radius: 6px;
  margin-top: 150px;
  margin-right: 310px;
  margin-bottom: 25px;
  width: 900px;
}

.progress-bar {
  height: 75%;
  background: linear-gradient(90deg, #2563eb, #f97316);
  border-radius: 6px;
  transition: width 0.4s ease;
}

.progress-text {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
  text-align: right;
}

/* ===== Card ===== */
.card {
  background: #fff;
  height: max-content;
  border-radius: 16px;
  padding: 30px;
  max-width: 850px;
  margin: auto;
  margin-top: 100px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.card h2 {
  text-align: center;
  margin-bottom: 6px;
}

.subtitle {
  text-align: center;
  color: #6b7280;
  margin-bottom: 30px;
}

/* ===== Options ===== */
.options {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 30px;
  /* width: 200px; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.option {
  width: 350px;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.option:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  border: 1px solid #f97316;
}

.option.selected {
  border-color: #f97316;
  background: #f974162b;
}

.option.orange {
  border-color: #f97316;
  background: #fff7ed;
}

.icon {
  width: 52px;
  height: 52px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.icon.blue {
  background: #f97316;
  color: #fff;
}

.icon.orange {
  background: #f97316;
  color: #fff;
}

.title {
  font-weight: 600;
}

.desc {
  font-size: 13px;
  color: #6b7280;
}

/* ===== Buttons ===== */
.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  border-radius: 12px;
  padding: 10px 26px;
  cursor: pointer;
  font-size: 14px;
}

button.next {
  background: #f97316;
  color: #fff;
}

button.back {
  background: #f3f4f6;
}
