:root {
  --orange-main: #FF9705;
  --orange-hover: linear-gradient(135deg, #1e4eff, #FF9705);
}

/* ===== HT Moshreq Pro ===== */
@font-face{
  font-family: "HT Moshreq Pro";
  src: url("/fonts/Ht Moshreq Pro woff2/688fb7e330da98598b5de996_HT Moshreq Pro - SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ===== HT Rakeez - Multiple Weights ===== */
@font-face{
  font-family: "HT Rakeez";
  src: url("/fonts/Ht Moshreq Pro woff2/688fb7e3095ccc71f01c9cb2_ HT Rakeez - Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "HT Rakeez";
  src: url("/fonts/Ht Moshreq Pro woff2/688fb7e3095ccc71f01c9cb2_ HT Rakeez - Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "HT Rakeez";
  src: url("/fonts/Ht Moshreq Pro woff2/688fb7e3095ccc71f01c9cb2_ HT Rakeez - Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "HT Rakeez";
  src: url("/fonts/Ht Moshreq Pro woff2/688fb7e3095ccc71f01c9cb2_ HT Rakeez - Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*{
  /* font-family: "HT Rakeez", sans-serif !important; */
  /* font-family: "Ht Moshreq Pro", sans-serif !important; */

}

body{
  background: 
    radial-gradient(circle 600px at top left, #FF970521 ,#2563EB11, transparent),
    radial-gradient(circle 600px at center left, #FF970521,#2563EB11, transparent),
    radial-gradient(circle 600px at center right, #2563EB11,#FF970521, transparent),
    radial-gradient(circle 600px at top right, #2563EB11,#FF970521, transparent),
    radial-gradient(circle 600px at bottom right, #2563EB11,#FF970521, transparent),
    radial-gradient(circle 600px at bottom left, #FF970521,#2563EB11, transparent);

  text-align: center;
  padding: 0;
  margin: 0;
  background-repeat: repeat !important;
  /* font-family: "Ht Moshreq Pro", sans-serif !important; */
  /* font-family: "HT Rakeez", sans-serif !important; */

}